@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 234, 234);
  color: rgb(44, 36, 36);
}

.container {
  font-family: "Roboto", sans-serif;

  max-width: 100rem;
  margin: 0 2rem;
  padding-bottom: 10rem;
}

/********************
*** HEADER ***
********************/

header {
  display: flex;
  align-items: center;
  margin: 6rem 0 1rem 0;
}

header img {
  width: 14rem;
  border-radius: 50%;
  border: 2px solid rgb(218, 142, 142);
}

.artist-info {
  margin-left: 3rem;
}

h1 {
  font-size: 42px;
  color: rgb(218, 142, 142);
}

.separator {
  height: 0.3rem;
  width: 8rem;
  background-color: rgb(218, 142, 142);
  margin-bottom: 2rem;
}

/********************
*** TAGS ***
********************/

.tag-list {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.tag {
  transition: all 0.2s ease;
  background-color: rgb(252, 241, 241);
  border: 2px solid rgb(218, 142, 142);
  border-radius: 25px;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.tag:hover,
.active-tag {
  background-color: rgb(218, 142, 142);
  color: #fff;
}

/********************
*** SONGS ***
********************/

.song-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

.song-item {
  transition: all 0.1s ease-out;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(252, 241, 241);
  box-shadow: 3px 3px 8px rgb(224, 210, 210);
}

.song-item:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.03);
  box-shadow: 3px 3px 30px rgb(224, 210, 210);
}

.song-item img {
  width: 20rem;
  border-radius: 10px;
}

.filtered {
  display: none;
}

/********************
*** SONG INFO ***
********************/

.song-info {
  margin: 0 15px;
}

.title {
  font-size: 18px;
  color: rgb(44, 36, 36);
  border-bottom: 1px solid rgb(218, 142, 142);
  margin-bottom: 0.5rem;
}

.uploaded {
  font-size: 14px;
  color: rgb(72, 80, 85);
  margin-bottom: 0.8rem;
}

.credits {
  font-size: 14px;
  margin-bottom: 0.8rem;
}

/********************
*** SOCIAL ICONS ***
********************/

.song-info i {
  font-size: 20px;
  margin-right: 0.5rem;
}

.fa-soundcloud {
  color: rgb(238, 141, 14);
}

.fa-youtube {
  color: rgb(221, 9, 9);
}

/********************
*** MEDIA QUERIES ***
********************/

@media (max-width: 1430px) {
  .title {
    font-size: 16px;
  }

  .uploaded {
    font-size: 12px;
  }

  .credits {
    font-size: 12px;
  }

  .song-item img {
    width: 18rem;
  }
}

@media (max-width: 1255px) {
  .song-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .song-item img {
    width: 20rem;
  }
  .title {
    font-size: 17px;
  }

  .uploaded {
    font-size: 14px;
  }

  .credits {
    font-size: 14px;
  }

  .song-item img {
    width: 21rem;
  }

  .song-list {
    grid-template-columns: min-content min-content min-content;
  }

  .song-info {
    margin: 10px 15px;
    text-align: left;
  }
}

@media (max-width: 1100px) {
  .song-list {
    grid-template-columns: min-content min-content;
  }
}

@media (max-width: 720px) {
  .song-list {
    grid-template-columns: min-content;
  }

  .song-info i {
    font-size: 28px;
  }
}

@media (max-width: 530px) {
  .tag-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .artist-info {
    margin-left: 1.5rem;
  }

  header img {
    width: 13rem;
  }
}

@media (max-width: 530px) {
  header img {
    width: 10rem;
  }

  .artist-info {
    margin-left: 1rem;
  }

  h1 {
    font-size: 38px;
  }

  .song-item img {
    width: 20rem;
  }
}
